build/
gym/f110_gym.egg-info
__pycache__
*.pyc
.DS_Store
.vscode/
gym/f110_gym/unittest/maps/
gym/f110_gym/unittest/centerline/
docs/_build/
wandb/
videos/
recording/
runs/
logs/
wandb_trains/gym_recording/
wandb_trains/pre_trained_models/
